.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}
  
.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: var(--font-size-text);
}
  
.notification-item:last-child {
    border-bottom: none;
}

.notification-actions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.notifications p {
    font-size: var(--font-size-text);
}

.mark-as-read-button,
.mark-all-read-button {
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    font-size: var(--font-size-button);
}


.mark-as-read-button {
    background-color: var(--background-delete-button);
    color: var(--color-delete-button);
    float: right;
}

.mark-as-read-button:hover {
    background-color: var(--background-delete-button-hover);
}

.mark-all-read-button {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: var(--background-default-button);
    color: var(--color-default-button);
    display: inline-block;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
}
  
@media (max-width: 480px) {

    .notification-list {
        max-height: 200px;
        overflow-y: auto;
    }
  
    .notification-item {
        font-size: var(--font-size-text);
        padding: 8px;
    }

}