.box {
    color: var(--color-box);
    background: var(--background-box);
    border-color: var(--color-border-box);
    border-style: var(--style-border-box);
    border-width: var(--width-border-box);
    width: var(--width-box);
    height: var(--height-box);
    border-radius: var(--radius-border-box);
}

.box:disabled {
    border-color: var(--color-border-box-alt);
    border-style: var(--style-border-box-alt);
    border-width: var(--width-border-box-alt);
}

.announcement {
    border-color: var(--color-border-box);
    border-style: var(--style-border-box);
    border-width: var(--width-border-box);
}

.box:hover:enabled {
    background-color: var(--background-box-hover);
}