.share-modal {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300px;
    padding: 20px;
    background-color: var(--background-share-modal);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    transition: top 0.5s ease-in-out;
}

.share-modal.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
}

.share-logo {
    width: 100px;
    height: 100px;
}

.share-modal h2 {
    margin: 10px;
    font-size: 24px;
    color: var(--color-share-modal);
}

.share-modal p {
    font-size: 16px;
    color: var(--color-share-modal);
    margin: 0;
}

.share-button, .new-game-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.share-button {
    background-color: var(--background-share-button);
    color: var(--color-share-button);
}

.new-game-button {
    background-color: var(--background-new-game-button);
    color: var(--color-new-game-button);
}

.share-button:hover{
    background-color: var(--background-share-button-hover);
}

.new-game-button:hover{
    background-color: var(--background-new-game-button-hover);
}

.share-modal-shadow.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all 1s ease;
        font-size: 18px;
}

.share-modal.show .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    color: var(--color-share-modal);
}

.share {
    font-weight: bold;
    position: relative;
}

.share:before {
    content: ".";
    font-size: 2.2em;
    position: absolute;
    bottom: -2.5px;
    left: -4px;
}

.share:after {
    content: ":";
    font-size: 2em;
    position: absolute;
    bottom: -6px;
    right: -7px;
}

.restart-prompt {
    font-size: 18px;
    margin: 10px;
}

.restart-prompt-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-yes {
    background-color: var(--background-share-button);
    color: var(--color-share-button);
    margin-right: 10px;
}

.button-no {
    background-color: var(--background-new-game-button);
    color: var(--color-new-game-button);
    margin-left: 10px;
}

@media screen and (max-width: 480px) {

    .share-button, .new-game-button {
        margin: 10px;
    }
    
}
