.info {
    padding: 20px;
    background-color: var(--background-window);
    color: var(--color-text);
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 20px;
}