.about {
    padding: 20px;
    background-color: var(--background-window);
    color: var(--color-text);
    border-radius: 8px;
    min-width: 300px;
    max-width: 600px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: large;
    overflow: hidden;
}

.about section {
    height: 80%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.about ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.button-refresh {
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--background-info-button);
    color: var(--color-info-button);
    float: right;
    transition: background-color 0.3 ease;
    font-size: large;
}

.button-refresh:hover {
    background-color: var(--background-info-button-hover);
}

.section-buttons button {
    color: var(--color-nav);
    padding: 10px;
    margin: 4px;
    border: none;
    transition: background-color 0.3 ease;
    border-radius: 4px;
}

.section-buttons button:hover {
    background-color: var(--background-nav-hover);
}

.section-buttons button.active {
    background-color: var(--background-nav-hover);
}

.about p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.about section a {
    color: var(--color-yellow);
}

.about .icon {
    filter: grayscale(100%);
    font-size: 1.2rem;
}

.about section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.about form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.about form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about form label {
    color: var(--color-text);
    margin-bottom: 4px;
}

.about form input[type="text"],
.about form textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--background-form);
    color: var(--color-form);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.about form input[type="text"]:focus,
.about form textarea:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.about form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 140px;
}

.about form button[type="submit"] {
    width: 150px;
    padding: 8px;
    color: var(--color-form-submit);
    background-color: var(--background-form-submit);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.about form button[type="submit"]:hover {
    background-color: var(--background-form-submit-hover);
}

@media screen and (max-width: 480px) {
    .about {
        border-radius: 0px;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .about section {
        height: 550px;
        max-height: 550px;
    }
}
