.navbar ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: var(--background-nav);
    height: 100vh;
    z-index: 1000;
    width: 160px;
    transition: width 0.3s ease !important;
    box-shadow: 12px 12px 24px rgba(70, 70, 70, 0.05);
}

.navbar.active ul {
    width: 160px;
}

.navbar.collapsed ul {
    width: 66px;
}

.menu-toggle {
    position: fixed;
    top: 8px;
    left: 144px;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: left 0.3s ease;
    z-index: 1000;
}

.navbar.collapsed .menu-toggle {
    left: 50px;
}

.menu-toggle span.icon {
    color: var(--color-menu-toggle);
    transition: background-color 1s;
    display: block;
    padding: 4px;
}

.menu-toggle .icon:hover {
    color: var(--color-menu-toggle-hover);
}

.app-title {
    display: flex;
}

.app-title .app-name {
    text-align: center;
    margin-left: 8px;
    margin-top: 16px;
    font-size: 1.5rem;
    color: var(--color-nav);
}

.app-name.collapsed {
    display: none;
}

.navbar ul li a {
    display: flex;
    color: var(--color-nav);
    padding: 16px;
    margin: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.navbar ul li:hover a {
    background-color: var(--background-nav-hover);
}

.navbar ul li:hover {
    cursor: pointer;
}

.navbar ul li:hover .icon {
    filter: none;
}

.navbar ul li a.active {
    background-color: var(--background-nav-hover);
}

.navbar.collapsed ul li a {
    padding: 16px;
    margin: 4px;
    border-radius: 8px;
}

.language-button {    
    transition: filter 1s;
    border: var(--border-settings-button);
    border-radius: var(--border-radius-box);
    padding: 10px;
}

.language-button img {
	width: calc(var(--width-box) / 2);
}

.theme-button {
    transition: filter 1s;
    border: var(--border-info-button);
    border-radius: var(--border-radius-box);
    padding: 10px;
}

.theme-button img {
    width: calc(var(--width-box) / 2);
}

.theme-button:hover {
    filter: none;
}

.language-button:hover {
    filter: none;
}

.burger {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 16px;
    display: none;
    font-size: 2rem;
}

.burger .icon {
    color: var(--color-default-input);
    filter: grayscale(100%);
}

.navbar ul li .icon {
    color: var(--color-nav);
    filter: grayscale(100%);
}

.top-bar .icon {
    color: var(--color-nav);
    filter: grayscale(100%);
    font-size: 1.5rem;
    transition: filter 0.3s ease;
}

.top-bar .icon:hover {
    filter: none;
}

.top-bar ul {
    position: fixed;
    display: flex;
    justify-content: right;
    list-style: none;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 100vw;
    z-index: 999;
}

.search {
    padding: 8px;
    background-color: var(--background-default-input);
    color: var(--color-default-input);
    caret-color: var(--color-default-input);
    box-shadow: 0px 12px 24px rgba(70, 70, 70, 0.15);
    transition: box-shadow 0.3s ease;
}

.search:hover, .search:focus {
    box-shadow: 0px 12px 24px rgba(70, 70, 70, 0.25);
}

.top-bar .search {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    border-radius: 8px;
    width: 200px;
    padding: 12px;
}

.navbar .search {
    width: 0px;
    height: 0px;
    visibility: hidden;
    transition: all 0.5s ease;
}

.navbar .icon-buttons {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.navbar .icon-buttons .icon {
    font-size: 1.5rem;
    filter: grayscale(100%);
    color: var(--color-nav);
}

.navbar ul img {
    margin: 16px;
    width: 32px;
}

.menu-label {
    text-align: left;
    color: var(--color-nav);
    width: 160px;
}

.navbar.collapsed ul li .menu-label {
    opacity: 0;
    visibility: hidden;
    width: 160px;
}

.navbar.active ul li span {
    white-space: nowrap;
    word-break: keep-all;
}

.navbar.collapsed ul li:hover span.menu-label {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    color: var(--color-nav-collapsed);
}

span.menu-label {
    padding-left: 30px;
    white-space: nowrap;
    word-break: keep-all;
}

.navbar ul li a:hover {
    text-decoration: none;
}

.logout-prompt {
    font-size: 18px;
    margin: 10px;
}

.logout-prompt-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

@media screen and (max-width: 480px) {
    
    .navbar ul {
        left: -100%;
        width: 256px;
        z-index: 1000;
        transition: left 0.3s ease;
    }    

    .navbar.active ul {
        width: 256px;
        left: 0;
    }

    .navbar.active ul img {
        visibility: visible;
        margin: 16px;
        width: 48px;
    }

    .navbar.active .search {
        visibility: visible;
        margin-top: 8px;
        width: 200px;
        height: auto;
        border-radius: 4px;
        font-size: 1.2rem;
        margin-bottom: 4px;
    }

    .navbar ul li a {  
        padding: 16px;
        margin: 2px;
        border-radius: 0px;
        font-size: 1.2rem;
    }

    .navbar .icon-buttons {
        visibility: visible;
        width: 248px;
        height: auto;
        bottom: 12px;
        position: fixed;
    }

    .navbar.active .navbar-shadow {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        transition: all 1s ease;
    }

    .navbar.active .language-button, .navbar.active .theme-button {
        font-size: 1.2em;
    }

    .burger {
        display: block;
    }

    .app-title .app-name {
        font-size: 2rem;
    }

    .language-theme-buttons {
        white-space: nowrap;
        word-break: keep-all;
    }
}