.clash-container, .clash-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clash, .clash-list {
    min-width: 200px;
    width: 70%;
    max-width: 1000px;
    min-height: 400px;
    height: 80vh;
    overflow-y: auto;
}

.clash-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}

.clash-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.clash-header p {
    margin: 5px 0;
    color: #666;
}

.clash-players h2 {
    margin-bottom: 10px;
    text-align: center;
}

.clash-players table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.clash-players th,
.clash-players td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.create-button,
.accept-button,
.decline-button,
.continue-button,
.add-button,
.remove-button {
    border: none;
    font-weight: bolder;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    color: var(--color-default-button);
}

.accept-button,
.decline-button,
.continue-button,
.create-button, 
.add-button, 
.remove-button  {
    padding: var(--padding-default-button);
    background: var(--background-default-button);
    margin: 10px;
}

.create-button .icon,
.accept-button .icon,
.add-button .icon {
    color: var(--background-save-button);
}

.decline-button .icon,
.remove-button .icon {
    color: var(--background-delete-button);
}

.continue-button {
    color: var(--background-default-button);
}

.create-button:disabled, .add-button:disabled, .remove-button:disabled {
    color: var(--color-default-button-disabled);
    background-color: var(--background-default-button-disabled);
}

.clash h3,
.clash-list h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 10px;
    color: var(--color-default);
}

.active-players-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.create-clash-container {
    align-items: center;
}

.clash-name-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.create-clash-button {
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--background-save-button);
    color: var(--color-save-button);
    padding: var(--padding-default-button);
    transition: background-color 0.3s ease-in-out;
    margin: 0 20px;
}

.create-clash-button:hover:enabled {
    background-color: var(--background-save-button-hover);
}

.create-clash-button:disabled {
    color: var(--color-save-button-disabled);
    background-color: var(--background-save-button-disabled);
}

@media (max-width: 480px) {
    .clash, .clash-list {
        width: 100vw;
        margin-top: 40px;
        height: 90vh;
    }

    .clash-players th,
    .clash-players td {
        padding: 8px;
        font-size: 14px;
    }

    .create-clash-container {
        flex-direction: column;
        align-items: stretch;
    }

    .clash-name-input {
        margin-bottom: 10px;
    }
}
