.clash-container, .clash-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clash, .clash-list {
    min-width: 200px;
    width: 70%;
    max-width: 1000px;
    min-height: 400px;
    height: 80vh;
    overflow-y: auto;
}

.clash-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}

.clash-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.clash-header p {
    margin: 5px 0;
    color: #666;
}

.clash-players h2 {
    margin-bottom: 10px;
    text-align: center;
}

.clash-players table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.clash-players th,
.clash-players td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.accept-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.decline-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.accept-btn:hover {
    background-color: #45a049;
}

.decline-btn:hover {
    background-color: #e53935;
}

.create-button,
.accept-button,
.decline-button,
.continue-button,
.add-button,
.remove-button {
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

.create-button,
.accept-button,
.add-button {
    color: var(--background-save-button);
}

.create-button,
.add-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.decline-button
.remove-button {
    color: var(--background-delete-button);
}

.continue-button {
    color: var(--background-default-button);
}

@media (max-width: 480px) {
    .clash, .clash-list {
        width: 100vw;
        margin-top: 40px;
        height: 90vh;
    }

    .create-clash-button {
        width: 100%;
        font-size: 14px;
    }

    .clash-players th,
    .clash-players td {
        padding: 8px;
        font-size: 14px;
    }
}
