.clash-container, .clash-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clash, .clash-list {
    min-width: 200px;
    width: 70%;
    max-width: 1000px;
    min-height: 400px;
    height: 80vh;
    overflow-y: auto;
}

.button-play {
    padding: 14px;
    background-color: var(--background-button-play);
    color: var(--color-button-play);
    border: none;
    border-radius: 4px;
    margin: 10px;
}

@media (max-width: 480px) {

    .clash, .clash-list {
        width: 100vw;
        margin-top: 40px;
        height: 90vh;
    }
    
}