.scoreboard {
    font-size: medium;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.scoreboard-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.accordion-section {
    margin-bottom: 10px;
}

.accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #21867a;
}

.accordion-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #f9f9f9;
}

.accordion-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accordion-content li {
    padding: 5px 0;
    font-size: 16px;
}

.accordion-content .player-name {
    font-weight: normal;
}

.accordion-content .score-value {
    color: var(--color-box);
}
