.dashboard {
    background: var(--background-form);
    border-radius: var(--border-radius-form);
    padding: 20px;
    color: var(--color-form);
    font-size: medium;
    text-align: left;
}

.tab-button {
    padding: var(--padding-play-button);
    color: var(--color-yellow);
    background: var(--background-play-button);
    border: none;
}

.active {
    filter: brightness(150%);
}