table {
    width: 50vw;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: medium;
    min-width: 480px;
    margin-bottom: 40px;
}

tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
    max-height: 60vh;
}

tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width: 480px) {
    table {
        min-width: auto;
        width: 100vw;
    }   
    tbody {
        max-height: 75vh;
    } 
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid var(--color-border-label);
    color: var(--color-label);
}

th {
    background-color: var(--background-box);
    cursor: pointer;
    color: var(--color-box);
}

tr:nth-child(even) {
    background-color: var(--background-box);
}

td:hover {
    cursor: pointer;
    filter: var(--filter-column-symbol);
}

.pagination-button {
    padding: 10px;
    border-radius: 4px;
    color: var(--color-label);
    background-color: var(--background-box);
}

.page-number {
    padding: 10px;
    border-radius: 4px;
    color: var(--color-label);
    margin: 0 5px;
}

select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--color-border-box);
}
  