.table-container {
	background-color: var(--background-table-container);
	padding: 10px;
	border-radius: 8px;
}

.table-container .global-actions {
	text-align: right;
}

.table-container .global-actions .edit {
	text-align: right;
	color: var(--color-table-action-edit);
	background-color: var(--background-table-action-edit);
}

.table-container .global-actions .save {
	margin-right: 10px;
	text-align: right;
	color: var(--color-table-action-save);
	background-color: var(--background-table-action-save);
}

.table-container .global-actions .delete {
	text-align: right;
	color: var(--color-table-action-delete);
	background-color: var(--background-table-action-delete);
}

.table-container table {
	background-color: var(--background-table-container);
	border-collapse: collapse;
	font-size: small;
	table-layout: fixed; /* Ensures equal width for all columns */
	width: 70vw;
	border-width: var(--border-width-table-container);
	border-style: var(--border-style-table-container);
	border-color: var(--border-color-table-container);
}

.table-container tbody {
    display: block;
    overflow-x: hidden;
	overflow-y: auto;
	height: 400px;
	max-height: 400px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-table-row) var(--background-table-container);
}

body {
    -ms-overflow-style: none;
}

.table-container tr {
    display: table;
    width: 100%;
    table-layout: fixed;
	transition: background-color 0.3s, color 0.3s;
	color: var(--color-table-row);
	background-color: var(--background-table-row);
	border-width: var(--border-width-table-row);
	border-style: var(--border-style-table-row);
	border-color: var(--border-color-table-row);
}

.table-container tr:hover {
	color: var(--color-table-row-hover);
	background-color: var(--background-table-row-hover);
}

.table tr:nth-child(even) {
    color: var(--color-table-row-alt);
    background-color: var(--background-table-row-alt);
}

.table tr:nth-child(even):hover {
    color: var(--color-table-row-alt-hover);
    background-color: var(--background-table-row-alt-hover);
}

.table-container th, td {
	text-align: left;
	word-wrap: break-word;
	padding: 6px;
}

.table-container thead {
	color: var(--color-table-header);
	border-width: var(--border-width-table-header);
	border-style: var(--border-style-table-header);
	border-color: var(--border-color-table-header);
}

.table-container th {
	background-color: var(--background-table-header);
	cursor: pointer;
}

.table-container th span {
	margin-left: 5px;
}

/* Styling for inline editing */
.table-container input[type="text"] {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 14px;
}

.table-container button {
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.table-container .button-save {
	color: var(--color-table-action-save);
	background-color: var(--background-table-action-save);
}

.table-container .button-save:hover {
	background-color: var(--background-table-action-save);
}

.table-container .button-edit {
	color: var(--color-table-action-edit);
	background-color: var(--background-table-action-edit);
}

.table-container .button-edit:hover {
	background-color: var(--background-table-action-edit);
}

.table-container .button-delete {
	color: var(--color-table-action-delete);
	background-color: var(--background-table-action-delete);
}

.table-container .button-delete:hover {
	background-color: var(--background-table-action-delete);
}

/* Disabled button styling */
.table-container button:disabled {
	cursor: not-allowed;
}

/* Pagination styling */
.table-container .pagination {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	color: var(--color-table-pagination);
}

.table-container .pagination button {
	color: var(--color-table-pagination-button);
	background-color: var(--background-table-pagination-button);
	margin: 0 5px;
}

.table-container .pagination select {
	color: var(--color-table-pagination-button);
	background-color: var(--background-table-pagination-button);
	margin: 0 5px;
	padding: 6px 12px;
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}

.table-container .pagination button:hover {
	margin: 0 5px;
}

.table-container .pagination span {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
}

/* Sort icons */
.table-container .sort-asc::after {
	content: "⭣";
}

.table-container .sort-desc::after {
	content: "⭡";
}

.table-container .dropdown-actions {
	position: absolute;
	background-color: var(--background-table-action-dropdown);
	border: 1px solid var(--border-color-table-action-dropdown);
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 100;
	padding: 8px;
}

.table-container .dropdown-actions button {
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;
	color: var(--color-table-dropdown-actions);
	background-color: var(--background-table-dropdown-actions);
	border: none;
	cursor: pointer;
}

.table-container .dropdown-actions button:hover {
	background-color: var(--background-table-dropdown-actions-hover);
}

.table-container .dropdown-actions button + button {
	margin-top: 4px;
}

/* Styling for the arrow button that triggers the dropdown */
.table-container .dropdown-actions-button .icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: var(--color-table-row);
	padding: 4px;
	transition: filter 1s ease;
}

.table-container .dropdown-actions-button .icon:hover {
	filter: var(--filter-dice);
}