.player-list-container, .player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.player, .player-list {
    min-width: 200px;
    width: 70%;
    max-width: 1000px;
    min-height: 400px;
    height: 80vh;
    overflow-y: auto;
}

.player-icon {
    display: block;
    margin: 10px;
    width: 60px;
    border: none;
    background-color: none;
}

.player-icon:hover:enabled {
    cursor: pointer;
    opacity: 70%;
}

.player-icon .icon {
    color: var(--background-save-button);
}

.player-icon .avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    transition: outline 0.1s ease-in-out;
    opacity: 50%;
}

.player-icon .avatar.accepted {
    outline: 2px solid var(--background-save-button);
}

.player-icon .avatar.selected {
    outline: 2px solid var(--background-edit-button);
    opacity: 100%;
}

.player-icon .avatar.offline {
    opacity: 50%;
}

.player-name {
    font-size: 1rem;
    color: var(--color-default);
}

@media (max-width: 480px) {

    .player, .player-list {
        width: 100vw;
        margin-top: 40px;
        height: 90vh;
    }
    
}