.box {
    color: var(--color-box);
    width: var(--width-box);
    height: var(--height-box);
    border: none;   
    z-index: 1;    
}

.box:enabled {
    border-radius: var(--radius-border-box);
    background-color: var(--background-box);   
    border: var(--width-border-box) var(--style-border-box) var(--color-border-box);
}

.box:disabled {
    border: var(--width-border-box-disabled) var(--style-border-box-disabled) var(--color-border-box-disabled);
    background-color: var(--background-box-disabled);
}

.announcement {
    border: var(--width-border-box-alt) var(--style-border-box-alt) var(--color-border-box-alt);
}

.box:hover:enabled {
    /* border-color: var(--color-border-box-alt); */
    background-color: var(--background-box-hover);
}

.glow {
    z-index: 1;
    animation: glow-animation 2s ease-in-out;
}
  
@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
    20% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 1);
    }
    40% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
    60% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 1);
    }
    80% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 1);
    }
}