:root {
  --color-background: #00000B;
  --color-blue: #011627;
  --color-red: #f71735;
  --color-turq: #41EAD4;
  --color-gray: #FDFFFC;
  --color-yellow: #FF9F1C;
  --filter-blue: invert(5%) sepia(48%) saturate(3773%) hue-rotate(191deg) brightness(91%) contrast(99%);
  --filter-red: invert(19%) sepia(80%) saturate(6597%) hue-rotate(346deg) brightness(101%) contrast(94%);
  --filter-turq: invert(67%) sepia(85%) saturate(337%) hue-rotate(119deg) brightness(102%) contrast(90%);
  --filter-gray: invert(91%) sepia(1%) saturate(1080%) hue-rotate(66deg) brightness(103%) contrast(117%);
  --filter-yellow: invert(78%) sepia(28%) saturate(5593%) hue-rotate(343deg) brightness(102%) contrast(103%);

  --background-sheet: var(--color-blue);
  --border-radius-sheet: 5px;
  --border-sheet: none;
  --margin-sheet: 40px 0 0 0;

  --background-menu: var(--color-blue);

  --color-label: var(--color-gray);
  --background-label: var(--color-blue);
  --border-label: none;
  --width-label: 100%;
  --height-label: 100%;
  --border-radius-label: 4px;
  --filter-label: var(--filter-gray);

  --color-sum: var(--color-yellow);
  --background-sum: var(--color-blue);
  --border-sum: none;
  
  --color-total-sum: var(--color-yellow);
  --background-total-sum: var(--color-blue);
  --border-total-sum: none;

  --background-column-symbol: var(--color-blue);
  --border-column-symbol: none;
  --filter-column-symbol: var(--filter-yellow);

  --color-box: var(--color-turq);
  --background-box: var(--color-blue);
  --border-box: 1px solid var(--color-turq);
  --border-box-alt: 1px dashed var(--color-red);
  --width-box: 64px;
  --height-box: 32px;
  --border-radius-box: 4px;
  
  --background-dice: var(--color-gray);
  --border-dice: none;
  --border-dice-alt: 3px solid var(--color-red);
  --width-dice: 64px;
  --height-dice: var(--width-dice);
  --border-radius-dice: 8px;  
  --margin-dice: 10px;
  --filter-dice: var(--filter-blue);
  --filter-dice-alt: var(--filter-red);
  --box-shadow-dice: 
      1px 1px 5px var(--color-blue),
      2px 2px 0px var(--color-gray),
      3px 3px 0px var(--color-gray),
      4px 4px 0px var(--color-gray),
      5px 5px 0px var(--color-gray);
  --color-form: var(--color-gray);
  --background-form: var(--color-blue);
  --border-form: none;
  --padding-form: 20px;
  --margin-form: none;
  --width-table-form: 400px;
  --height-table-form: 500px;
    
  --color-username-input: var(--color-gray);
  --background-username-input: var(--color-blue);
  --border-username-input: 2px solid var(--color-gray);
  --padding-username-input: 5px;
  --margin-username-input: 5px;

  --color-password-input: var(--color-red);
  --background-password-input: var(--color-blue);
  --border-password-input: 2px solid var(--color-gray);
  --padding-password-input: 5px;
  --margin-password-input: 5px;
  
  --color-register-button: var(--color-gray);
  --background-register-button: var(--color-blue);
  --border-register-button: 2px solid var(--color-turq);
  --padding-register-button: 10px 20px 10px 20px;
  --margin-register-button: 20px 0 0 0;

  --color-login-button: var(--color-gray);
  --background-login-button: var(--color-blue);
  --border-login-button: 2px solid var(--color-turq);
  --padding-login-button: 10px 20px 10px 20px;
  --margin-login-button: 20px 0 0 0;

  --color-play-button: var(--color-gray);
  --background-play-button: var(--color-blue);
  --border-play-button: 2px solid var(--color-turq);
  --padding-play-button: 10px 20px 10px 20px;
  --margin-play-button: 20px 0 0 0;

  --color-logout-button: var(--color-red);
  --background-logout-button: var(--color-blue);
  --border-logout-button: 2px solid var(--color-turq);

  --color-register-button: var(--color-gray);
  --background-register-button: var(--color-blue);
  --border-register-button: 2px solid var(--color-turq);
  
  --color-settings-button: var(--color-turq);
  --background-settings-button: var(--color-blue);
  --border-settings-button: none;
  --filter-settings-button: var(--filter-turq);

  --color-info-button: var(--color-turq);
  --background-info-button: var(--color-blue);
  --border-info-button: none;
  --filter-info-button: var(--filter-turq);

  --color-admin-button: var(--color-turq);
  --background-admin-button: var(--color-blue);
  --border-admin-button: 1px solid var(--color-blue);

  --background-restart-button: var(--color-blue);
  --border-restart-button: 1px solid var(--color-blue);
  --filter-restart-button: var(--filter-gray);
  
  --background-roll-button: var(--color-blue);
  --border-roll-button: 1px solid var(--color-bue);
  --filter-roll-button: var(--filter-gray);

  --color-username-button: var(--color-yellow);
  --background-username-button: var(--color-blue);
  --border-username-button: none;
}

[theme="light"] {

  --background-menu: var(--color-gray);

  --color-background: #cecece;
  --background-sheet: var(--color-gray);

  --color-label: var(--color-blue);
  --background-label: var(--color-gray);
  --filter-label: var(--filter-blue);

  --color-sum: var(--color-red);
  --background-sum: var(--color-gray);
  
  --color-total-sum: var(--color-red);
  --background-total-sum: var(--color-gray);

  --background-column-symbol: var(--color-gray);
  --filter-column-symbol: var(--filter-red);

  --color-box: var(--color-blue);
  --background-box: var(--color-gray);
  --border-box: 1px solid var(--color-turq);
  --border-box-alt: 1px dashed var(--color-red);
  
  --background-dice: var(--color-yellow);
  --border-dice-alt: 3px solid var(--color-red);
  --filter-dice: var(--filter-blue);
  --filter-dice-alt: var(--filter-red);
  --box-shadow-dice: 
      1px 1px 5px var(--color-blue),
      2px 2px 0px var(--color-yellow),
      3px 3px 0px var(--color-yellow),
      4px 4px 0px var(--color-yellow),
      5px 5px 0px var(--color-yellow);

  --color-form: var(--color-blue);
  --background-form: var(--color-gray);
    
  --color-username-input: var(--color-blue);
  --background-username-input: var(--color-gray);
  --border-username-input: 2px solid var(--color-blue);

  --color-password-input: var(--color-red);
  --background-password-input: var(--color-gray);
  --border-password-input: 2px solid var(--color-blue);
  
  --color-register-button: var(--color-blue);
  --background-register-button: var(--color-gray);
  --border-register-button: 2px solid var(--color-turq);

  --color-login-button: var(--color-blue);
  --background-login-button: var(--color-gray);
  --border-login-button: 2px solid var(--color-turq);

  --color-play-button: var(--color-blue);
  --background-play-button: var(--color-gray);
  --border-play-button: 2px solid var(--color-turq);

  --color-logout-button: var(--color-red);
  --background-logout-button: var(--color-gray);
  --border-logout-button: 2px solid var(--color-turq);

  --color-register-button: var(--color-blue);
  --background-register-button: var(--color-gray);
  --border-register-button: 2px solid var(--color-turq);
  
  --color-settings-button: var(--color-blue);
  --background-settings-button: var(--color-gray);
  --filter-settings-button: var(--filter-blue);

  --color-info-button: var(--color-blue);
  --background-info-button: var(--color-gray);
  --filter-info-button: var(--filter-blue);

  --color-admin-button: var(--color-blue);
  --background-admin-button: var(--color-gray);
  --border-admin-button: 1px solid var(--color-gray);

  --background-restart-button: var(--color-gray);
  --border-restart-button: 1px solid var(--color-gray);
  --filter-restart-button: var(--filter-blue);
  
  --background-roll-button: var(--color-gray);
  --border-roll-button: 1px solid var(--color-gray);
  --filter-roll-button: var(--filter-blue);

  --color-username-button: var(--color-blue);
  --background-username-button: var(--color-gray);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  margin: 0;
  padding: 0;
}

button:hover:enabled {
  cursor: pointer;
}

[theme="dark"] button:hover:enabled {
  filter: brightness(150%);
}


[theme="light"] button:hover:enabled {
  filter: brightness(70%);
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  border-radius: 0px;
  border-style: dashed;
}

[theme="dark"] button:disabled {
  filter: brightness(80%);
}

[theme="light"] button:disabled {
  filter: brightness(90%);
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-yellow);
  font-size: medium;
}

[theme="light"] a {
  color: var(--color-blue);
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  :root {
    --width-box: 16.3vw;
    --height-box: 4.9vh;
    --width-dice: 16vw;
    --margin-dice: 1.5vw;
    --height-dice: var(--width-dice);
    --margin-sheet: 5px;

    --margin-play-button: 20px 0 20px 0;
    --margin-register-button: 20px 0 20px 0;
    --margin-login-button: 20px 0 20px 0;

    --width-table-form: 80vw;
  }
}
