:root {

  --color-background: #121212;
  
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #0A192F;
  --color-red: #f71735;
  --color-turq: #41EAD4;
  --color-gray: #FDFFFC;
  --color-yellow: #FF9F1C;

  --color-blue-hover: #1B2B41;
  --color-red-hover: #ff4c4c;
  --color-turq-hover: #63e6be;
  --color-gray-hover: #bbbbbb;
  --color-yellow-hover: #ffd166;

  --filter-blue: invert(15%) sepia(48%) saturate(3773%) hue-rotate(191deg) brightness(91%) contrast(99%);
  --filter-red: invert(19%) sepia(80%) saturate(6597%) hue-rotate(346deg) brightness(101%) contrast(94%);
  --filter-turq: invert(67%) sepia(85%) saturate(337%) hue-rotate(119deg) brightness(102%) contrast(90%);
  --filter-gray: invert(91%) sepia(1%) saturate(1080%) hue-rotate(66deg) brightness(103%) contrast(117%);
  --filter-yellow: invert(78%) sepia(28%) saturate(5593%) hue-rotate(343deg) brightness(102%) contrast(103%);

  --filter-settings-button: var(--filter-turq);

  --background-sheet: var(--color-blue);
  --border-radius-sheet: 5px;
  --border-sheet: none;
  --margin-sheet: 40px 0 0 0;

  --background-menu: var(--color-blue);

  --background-nav: var(--color-blue);
  --background-nav-hover: var(--color-blue-hover);
  --color-nav: var(--color-gray);
  --color-nav-hover: var(--color-gray-hover);
  --color-nav-collapsed: var(--color-gray-hover);
  --filter-nav: var(--filter-gray);
  --color-menu-toggle: var(--color-yellow);
  --color-menu-toggle-hover: var(--color-yellow-hover);

  --color-label: var(--color-gray);
  --background-label: var(--color-blue);
  --background-label-hover: var(--color-blue-hover);
  --border-label: none;
  --width-label: 100%;
  --height-label: 100%;
  --border-radius-label: 4px;
  --filter-label: var(--filter-gray);

  --color-sum: var(--color-yellow);
  --background-sum: var(--color-blue);
  --border-sum: none;
  
  --color-total-sum: var(--color-yellow);
  --background-total-sum: var(--color-blue);
  --border-total-sum: none;

  --background-column-symbol: var(--color-blue);
  --border-column-symbol: none;
  --filter-column-symbol: var(--filter-yellow);

  --color-box: var(--color-turq);
  --background-box: var(--color-blue);
  --background-box-hover: var(--color-blue-hover);
  --radius-border-box: 4px;
  --color-border-box: var(--color-turq);
  --color-border-box-alt: var(--color-red);
  --style-border-box: solid;
  --style-border-box-alt: dashed;
  --width-border-box: 1px;
  --width-border-box-alt: 1px;
  --width-box: 64px;
  --height-box: 32px;
  
  --background-dice: var(--color-gray);
  --background-dice-hover: var(--color-gray-hover);
  --border-dice: none;
  --border-dice-alt: 3px solid var(--color-red);
  --width-dice: 64px;
  --height-dice: var(--width-dice);
  --border-radius-dice: 8px;  
  --margin-dice: 10px;
  --filter-dice: var(--filter-blue);
  --filter-dice-alt: var(--filter-red);
  --box-shadow-dice: 
      1px 1px 5px var(--color-blue),
      2px 2px 0px var(--color-gray),
      3px 3px 0px var(--color-gray),
      4px 4px 0px var(--color-gray),
      5px 5px 0px var(--color-gray);
  --color-form: var(--color-gray);
  --background-form: var(--color-blue);
  --border-form: none;
  --padding-form: 20px;
  --margin-form: none;
  --width-table-form: 400px;
  --height-table-form: 500px;
    
  --background-auth: var(--color-blue);
  --background-auth-input: var(--color-blue-hover);
  --background-auth-button: var(--color-gray);
  --background-auth-button-hover: var(--color-gray-hover);
  --background-auth-button-disabled: var(--color-blue-hover);
  --color-auth: var(--color-gray);
  --color-auth-button: var(--color-blue);
  --color-auth-input: var(--color-gray);
  --border-auth-input: var(--color-blue);
  --border-auth-button: var(--color-blue);
  --color-auth-link: var(--color-yellow);

  --color-info-button: var(--color-turq);
  --background-info-button: var(--color-blue);
  --border-info-button: none;
  --filter-info-button: var(--filter-turq);

  --color-admin: var(--color-gray);
  --color-admin-hover: var(--color-gray-hover);
  --background-admin: var(--color-blue);
  --background-admin-hover: var(--color-blue-hover);

  --background-restart-button: var(--color-blue);
  --background-restart-button-hover: var(--color-blue-hover);
  --border-restart-button: 1px solid var(--color-blue);
  --filter-restart-button: var(--filter-gray);
  
  --background-roll-button: var(--color-blue);
  --background-roll-button-hover: var(--color-blue-hover);
  --border-roll-button: 1px solid var(--color-bue);
  --filter-roll-button: var(--filter-gray);

  --color-username-button: var(--color-gray);
  --background-username-button: var(--color-blue);
  --border-username-button: none;
  
  --color-share-modal: var(--color-gray);
  --background-share-modal: var(--color-blue);
  --color-share-button: var(--color-blue);
  --background-share-button: var(--color-turq);
  --background-share-button-hover: var(--color-turq-hover);
  --color-new-game-button: var(--color-blue);
  --background-new-game-button: var(--color-gray);
  --background-new-game-button-hover: var(--color-gray-hover);

  /* TABLE */
  
  --background-table-container: var(--color-blue);  
  --background-table-header: var(--color-blue);
  --background-table-header-hover: var(--color-blue-hover);
  --background-table-row: var(--color-blue);
  --background-table-row-hover: var(--color-blue-hover);
  --background-table-row-alt: var(--color-blue);
  --background-table-row-alt-hover: var(--color-blue-hover);
  --background-table-action-edit: var(--color-yellow);
  --background-table-action-edit-hover: var(--color-yellow-hover);
  --background-table-action-save: var(--color-turq);
  --background-table-action-save-hover: var(--color-turq-hover);
  --background-table-action-delete: var(--color-red);
  --background-table-action-delete-hover: var(--color-red-hover);
  --background-table-pagination-button: var(--color-gray);
  --background-table-pagination-button-hover: var(--color-gray-hover);
	--background-table-dropdown-actions: var(--color-gray);
	--background-table-dropdown-actions-hover: var(--color-gray-hover);

  --color-table-header: var(--color-gray);
  --color-table-header-hover: var(--color-gray);  
  --color-table-row: var(--color-gray);
  --color-table-row-alt: var(--color-gray);
  --color-table-row-hover: var(--color-gray);
  --color-table-row-alt-hover: var(--color-gray);
  --color-table-action-edit: var(--color-blue);
  --color-table-action-save: var(--color-black);
  --color-table-action-delete: var(--color-gray);
  --color-table-pagination-button: var(--color-blue);
  --color-table-pagination: var(--color-gray);
	--color-table-dropdown-actions: var(--color-blue);

  --border-width-table-container: 0px;
  --border-width-table-header: 0px;
  --border-width-table-row: 0px 0px 1px 0px;
  --border-width-table-row-alt: 1px;
  --border-style-table-container: solid;
  --border-style-table-header: solid;
  --border-style-table-row: solid;
  --border-style-table-row-alt: solid;
  --border-color-table-container: var(--color-gray);
  --border-color-table-header: var(--color-gray);
  --border-color-table-row: var(--color-black);
  --border-color-table-row-alt: var(--color-black);
  --border-color-table-pagination-button: var(--color-blue);

  --background-window: var(--color-blue);
  --color-text: var(--color-gray);
  
  --background-form: var(--color-blue-hover);
  --color-form: var(--color-gray);
  --background-form-submit: var(--color-gray);
  --background-form-submit-hover: var(--color-gray-hover);
  --color-form-submit: var(--color-blue);

  --background-settings: var(--color-blue);
  --color-settings: var(--color-gray);
  
  --background-button-play: var(--color-gray);
  --background-button-play-hover: var(--color-gray-hover);
  --color-button-play: var(--color-blue);
  
  --color-select-button: var(--color-blue);
	--background-select-button: var(--color-gray);
	--background-select-button-hover: var(--color-gray-hover);
  
  --color-edit-button: var(--color-blue);
	--background-edit-button: var(--color-yellow);
	--background-edit-button-hover: var(--color-yellow-hover);
  
  --color-save-button: var(--color-gray);
	--background-save-button: var(--color-turq);
	--background-save-button-hover: var(--color-turq-hover);
  
  --color-cancel-button: var(--color-gray);
	--background-cancel-button: var(--color-red);
	--background-cancel-button-hover: var(--color-red-hover);

}

[theme="light"] {

  --color-background: #f7f9fc;

  --color-blue: #33658a;
  --color-red: #e63946;
  --color-turq: #2a9d8f;
  --color-gray: #ffffff;
  --color-yellow: #f4a261;

  --color-blue-hover: #2a4d6e;
  --color-red-hover: #cc2d3a;
  --color-turq-hover: #24786b;
  --color-gray-hover: #dddddd;
  --color-yellow-hover: #e59444;

  --background-menu: var(--color-gray);

  --background-nav: var(--color-blue);
  --background-nav-hover: var(--color-blue-hover);
  --color-nav: var(--color-gray);
  --color-nav-hover: var(--color-gray-hover);
  --color-nav-collapsed: var(--color-blue-hover);
  --filter-nav: var(--filter-gray);
  --color-menu-toggle: var(--color-yellow);
  --color-menu-toggle-hover: var(--color-yellow-hover);

  --background-sheet: var(--color-gray);

  --color-label: var(--color-blue);
  --background-label: var(--color-gray);
  --background-label-hover: var(--color-gray-hover);
  --filter-label: var(--filter-blue);

  --color-sum: var(--color-red);
  --background-sum: var(--color-gray);
  
  --color-total-sum: var(--color-red);
  --background-total-sum: var(--color-gray);

  --background-column-symbol: var(--color-gray);
  --filter-column-symbol: var(--filter-red);

  --color-box: var(--color-blue);
  --background-box: var(--color-gray);
  --background-box-hover: var(--color-gray-hover);
  --color-border-box: var(--color-blue);
  --color-border-box-alt: var(--color-blue);
  --style-border-box: solid;
  --style-border-box-alt: dashed;
  --width-border-box: 1px;
  --width-border-box-alt: 1px;
  
  --background-dice: var(--color-gray);
  --background-dice-hover: var(--color-gray-hover);
  --border-dice: 2px solid var(--color-blue);
  --border-dice-alt: 2px solid var(--color-blue);
  --filter-dice: var(--filter-blue);
  --filter-dice-alt: var(--filter-red);
  --box-shadow-dice: 
      1px 1px 5px var(--color-blue),
      2px 2px 0px var(--color-yellow),
      3px 3px 0px var(--color-yellow),
      4px 4px 0px var(--color-yellow),
      5px 5px 0px var(--color-yellow);
  --color-form: var(--color-blue);
  --background-form: var(--color-gray);
    
  --color-username-input: var(--color-blue);
  --background-username-input: var(--color-gray);
  --border-username-input: 2px solid var(--color-blue);

  --color-password-input: var(--color-red);
  --background-password-input: var(--color-gray);
  --border-password-input: 2px solid var(--color-blue);

  --background-auth: var(--color-gray);
  --background-auth-input: var(--color-gray-hover);
  --background-auth-button: var(--color-blue);
  --background-auth-button-hover: var(--color-blue-hover);
  --background-auth-button-disabled: var(--color-gray-hover);
  --color-auth: var(--color-black);
  --color-auth-button: var(--color-gray);
  --color-auth-input: var(--color-black);
  --border-auth-input: var(--color-gray);
  --border-auth-button: var(--color-gray);
  --color-auth-link: var(--color-blue);

  --filter-settings-button: var(--filter-blue);

  --color-info-button: var(--color-blue);
  --background-info-button: var(--color-gray);
  --background-info-button-hover: var(--color-gray-hover);
  --filter-info-button: var(--filter-blue);

  --color-admin-button: var(--color-blue);
  --background-admin-button: var(--color-gray);
  --border-admin-button: 1px solid var(--color-gray);

  --background-restart-button: var(--color-gray);
  --background-restart-button-hover: var(--color-gray-hover);
  --border-restart-button: 1px solid var(--color-gray);
  --filter-restart-button: var(--filter-blue);
  
  --background-roll-button: var(--color-gray);
  --background-roll-button-hover: var(--color-gray-hover);
  --border-roll-button: 1px solid var(--color-gray);
  --filter-roll-button: var(--filter-blue);

  --color-table-header: var(--color-black);
  --color-table-header-hover: var(--color-black);
  --color-table-row: var(--color-black);
  --color-table-row-alt: var(--color-black);
  --color-table-row-hover: var(--color-black);
  --color-table-row-alt-hover: var(--color-black);
  --color-pagination-button: var(--color-gray);
  --background-table-container: var(--color-gray);
  --background-table-header: var(--color-gray);
  --background-table-header-hover: var(--color-gray-hover);
  --background-table-row: var(--color-gray);
  --background-table-row-hover: var(--color-gray-hover);
  --background-table-row-alt: var(--color-gray);
  --background-table-row-alt-hover: var(--color-gray-hover);
  --background-pagination-button: var(--color-blue);
  --background-pagination-button-hover: var(--color-blue-hover);  
  --border-table-row: var(--color-gray-hover);
  --color-table-pagination: var(--color-black);

  --color-username-button: var(--color-blue);
  --background-username-button: var(--color-gray);
  --border-username-button: none;

  --color-share-modal: var(--color-black);
  --background-share-modal: var(--color-gray);
  --color-share-button: var(--color-gray);
  --background-share-button: var(--color-turq);
  --background-share-button-hover: var(--color-turq-hover);
  --color-new-game-button: var(--color-gray);
  --background-new-game-button: var(--color-blue);
  --background-new-game-button-hover: var(--color-blue-hover);
  
  --background-settings: var(--color-blue);
  --color-settings: var(--color-gray);

  --background-button-play: var(--color-blue);
  --background-button-play-hover: var(--color-blue-hover);
  --color-button-play: var(--color-gray);
  
  --color-select-button: var(--color-gray);
	--background-select-button: var(--color-blue);
	--background-select-button-hover: var(--color-blue-hover);

  --color-edit-button: var(--color-gray);
	--background-edit-button: var(--color-yellow);
	--background-edit-button-hover: var(--color-yellow-hover);
  
  --color-save-button: var(--color-gray);
	--background-save-button: var(--color-turq);
	--background-save-button-hover: var(--color-turq-hover);
  
  --color-cancel-button: var(--color-gray);
	--background-cancel-button: var(--color-red);
	--background-cancel-button-hover: var(--color-red-hover);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  margin: 0;
  padding: 0;
}

button:hover:enabled {
  cursor: pointer;
}

button:focus {
  outline: none;
}

[theme="dark"] button:disabled {
  filter: brightness(80%);
}

[theme="light"] button:disabled {
  filter: brightness(90%);
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-yellow);
  font-size: medium;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

[theme="light"] a {
  color: var(--color-blue);
}

@media screen and (max-width: 480px) {
  :root {
    --width-box: 16.3vw;
    --height-box: 4.9vh;
    --width-dice: 16vw;
    --margin-dice: 1.5vw;
    --height-dice: var(--width-dice);
    --margin-sheet: 5px;

    --margin-play-button: 20px 0 20px 0;
    --margin-register-button: 20px 0 20px 0;
    --margin-login-button: 20px 0 20px 0;

    --width-table-form: 80vw;
  }
}
