.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.settings {
    background-color: var(--background-settings);
    color: var(--color-settings);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.settings form {
    text-align: left;
    font-size: 18px;
}

.settings form div {
    margin: 20px;
    width: 248px;
}

.settings form select {
    color: var(--color-table-pagination-button);
	background-color: var(--background-table-pagination-button);
	padding: 6px 12px;
    width: 100px;
	border-radius: 4px;
	border: none;
	outline: none;
    float: right;
    margin: 0px;
}

.settings form select:hover {
	cursor: pointer;
}