.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth {
    background-color: var(--background-auth);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 312px;
    color: var(--color-auth);
}

.auth h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}

.auth input[type="text"],
.auth input[type="email"],
.auth input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--background-auth-input);
    color: var(--color-auth-input);
    border-bottom: 1px solid var(--border-auth-input);
    border-radius: 4px;
    caret-color: var(--color-auth-input);
}

.auth input[type="text"]:-webkit-autofill,
.auth input[type="text"]:-webkit-autofill:hover, 
.auth input[type="text"]:-webkit-autofill:focus, 
.auth input[type="text"]:-webkit-autofill:active,
.auth input[type="email"]:-webkit-autofill,
.auth input[type="email"]:-webkit-autofill:hover, 
.auth input[type="email"]:-webkit-autofill:focus, 
.auth input[type="email"]:-webkit-autofill:active,
.auth input[type="password"]:-webkit-autofill,
.auth input[type="password"]:-webkit-autofill:hover, 
.auth input[type="password"]:-webkit-autofill:focus, 
.auth input[type="password"]:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-auth-input);
    box-shadow: inset 0 0 20px 20px var(--background-auth-input);
}

.auth input[type="submit"], .button-send-password-reset-email {
    width: 100%;
    padding: 12px;
    background-color: var(--background-auth-button);
    border: none;
    color: var(--color-auth-button);
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--border-auth-button);
    border-radius: 4px;
    margin-top: 10px;
}

.auth input[type="submit"]:hover:enabled, .button-send-password-reset-email:hover:enabled {
    cursor: pointer;
    background-color: var(--background-auth-button-hover);
}

.auth input[type="submit"]:disabled, .button-send-password-reset-email:disabled {
    background-color: var(--background-auth-button-disabled);
}

.check-email {
    font-size: medium;
}

.auth .link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.auth .link a {
    color: var(--color-auth-link);
    text-decoration: none;
    font-size: 14px;
}

.auth .link a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth img {
    width: 64px;
    margin-top: 20px;
}

.auth .input-label {
    font-size: 14px;
    width: 100%;
    display: flex;
}

.auth img:hover {
    outline: none !important;
}

.error-text {
    color: var(--color-red);
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}

.forgot-password {
    font-size: medium;
}

@media screen and (max-width: 480px) {
    .auth {
        max-width: 80vw;
    }
    
}